#parse("header.html")
    <div id="main">
        <div class="container">


            <ul class="letter-list">
                #foreach($conversation in $conversations)
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}"></a>
                    <div class="letter-info">
                        <span class="l-time">$date.format('yyyy-MM-dd HH:mm:ss', $!{conversation.conversation.createdDate})</span>
                        <div class="l-operate-bar">

                            <a href="javascript:void(0);" class="sns-action-del" data-id="">
                            删除
                            </a>

                            <a href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}">
                                共$!{conversation.conversation.id}条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            $!{conversation.unreadCount}
                        </span>
                        <a class="list-head" href="/user/$!{conversation.userId}">
                            <img alt="头像" src="$!{conversation.headUrl}">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="$!{conversation.userName}" class="letter-name level-color-1">
                            $!{conversation.userName}
                        </a>
                        <p class="letter-brief">
                            <a href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}">
                                $!{conversation.conversation.content}
                            </a>
                        </p>
                    </div>
                </li>
                #end
            </ul>

            <div style="margin-top:10px;margin-bottom:10px;">

            <form role="form">
                <div class="form-group">
                    <label >输入私信内容</label>
                    <textarea class="form-control" rows="4" id="msg"></textarea>
                </div>

                </form>
            </div>

            <div style="text-align:center;margin-top:15px;margin-bottom:15px;">
                <form class="form-inline" role="form">
                <input type="text" class="form-control" id="to_name" placeholder="请输入对方用户名称">

                <button type="button" class="btn btn-info" style="margin-left:20px;">确认发送</button>
                </form>
            </div>


        </div>


       
    </div>

<script>
    $(".btn").click(function () {
        var msg = $('#msg').val()
        var to_name = $('#to_name').val()
        $.ajax({
            url: "/msg/addMessage",
            type: "POST",
            async: true,
            data:{
                "content":msg,
                "to_name":to_name,
            },
            dataType: "json",
            success: function(data){
                window.location.reload();
                console.log(data);
            },
            error:function(err){
                console.log(err.statusText);
            }
        });

    })



</script>

#parse("footer.html")